@font-face {
  font-family: "SFPro";
  src: url(/src/assets/fonts/SF-Pro-Thin.woff2) format("woff2");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "SFPro";
  src: url(/src/assets/fonts/SF-Pro-Ultralight.woff2) format("woff2");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "SFPro";
  src: url(/src/assets/fonts/SF-Pro-Light.woff2) format("woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "SFPro";
  src: url(/src/assets/fonts/SF-Pro-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "SFPro";
  src: url(/src/assets/fonts/SF-Pro-Medium.woff2) format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "SFPro";
  src: url(/src/assets/fonts/SF-Pro-Semibold.woff2) format("woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "SFPro";
  src: url(/src/assets/fonts/SF-Pro-Bold.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "SFPro";
  src: url(/src/assets/fonts/SF-Pro-Ultrabold.woff2) format("woff2");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "SFPro";
  src: url(/src/assets/fonts/SF-Pro-Heavy.woff2) format("woff2");
  font-style: normal;
  font-weight: 900;
}
